@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.woff"), url("../fonts/Montserrat-Light.woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff"), url("../fonts/Montserrat-Regular.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff"), url("../fonts/Montserrat-Medium.woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff"), url("../fonts/Montserrat-SemiBold.woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff"), url("../fonts/Montserrat-Bold.woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dddddd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00b56a;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}

input::-moz-placeholder {
  color: #aaa;
}

input::placeholder {
  color: #aaa;
}

.auth {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1d976c; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #93f9b9, #1d976c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.auth__form {
  max-width: 404px;
  width: 100%;
  padding: 30px;
  background-color: #fff;
}
.auth__form-title {
  font-size: 24px;
  font-weight: 600;
  color: #575757;
  text-align: center;
}
.auth__form .item {
  position: relative;
}
.auth__form .item:not(:first-child) {
  margin-top: 30px;
}
.auth__form .item:nth-child(2) {
  width: 100%;
  height: 60px;
  padding: 0 20px 0 60px;
  border: 1px solid #606060;
}
.auth__form .item:nth-child(2).error {
  border: 1px solid red;
}
.auth__form .item:nth-child(2) .input__before {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #323232;
  position: absolute;
  top: 0;
  left: 20px;
}
.auth__form .item:nth-child(2) input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #323232;
  border: none;
  padding: 0;
}
.auth__form .item__head {
  padding: 0 10px;
  position: absolute;
  top: -9.6px;
  left: 10px;
  font-size: 14px;
  color: #323232;
  background: #f8f8f8;
  z-index: 2;
}
.auth__form .item__input {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  border: 1px solid #606060;
}
.auth__form .item__input.error {
  border: 1px solid red;
}
.auth__form-btn {
  margin-top: 30px;
  width: 100%;
  height: 60px;
  font-size: 16px;
  font-weight: 700;
  color: #fcfbf9;
  background-color: #00b56a;
  transition: all 0.2s linear;
  border: 2px solid #00b56a;
}
@media (hover: hover) {
  .auth__form-btn:hover {
    color: #00b56a;
    background-color: #ffffff;
  }
}
@media (hover: none) {
  .auth__form-btn:active {
    color: #00b56a;
    background-color: #ffffff;
  }
}

@media (max-width: 480px) {
  .auth__form {
    padding: 30px 15px;
  }
  .auth__form .item:not(:first-child) {
    margin-top: 20px;
  }
  .auth__form .item:nth-child(2) {
    margin-top: 30px;
  }
  .auth__form-btn {
    margin-top: 20px;
  }
}
.offer {
  width: 100%;
  background: #fff;
}
.offer .container {
  max-width: 900px;
}
.offer__wrapper {
  padding: 35px 0;
  background-color: #fff;
}
.offer__title {
  font-size: 42px;
  font-weight: 700;
  color: #575757;
}
.offer__text {
  margin-top: 30px;
  max-height: 250px;
  overflow-y: scroll;
  font-size: 16px;
  line-height: 1.6;
  color: #323232;
  /* width */
  /* Track */
  /* Handle */
}
.offer__text p {
  padding-right: 10px;
}
.offer__text::-webkit-scrollbar {
  width: 5px;
}
.offer__text::-webkit-scrollbar-track {
  background: #dddddd;
}
.offer__text::-webkit-scrollbar-thumb {
  background: #979797;
}
.offer__download {
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #fcfbf9;
  background-color: #00b56a;
  transition: all 0.2s linear;
  border: 2px solid #00b56a;
}
.offer__download img {
  width: 13px;
  height: 15px;
}
@media (hover: hover) {
  .offer__download:hover {
    border-color: #00a862;
    background-color: #00a862;
  }
}
@media (hover: none) {
  .offer__download:active {
    border-color: #00a862;
    background-color: #029a5a;
  }
}
.offer__form .item {
  position: relative;
}
.offer__form .item__head {
  padding: 0 10px;
  position: absolute;
  top: -9.6px;
  left: 10px;
  font-size: 14px;
  color: #323232;
  background: #f8f8f8;
  z-index: 2;
}
.offer__form .item__input {
  width: 350px;
  height: 50px;
  padding: 0 20px;
  border: 1px solid #606060;
}
.offer__form .item__input.error {
  border: 1px solid red;
}
.offer__form-text {
  margin-top: 20px;
  font-size: 16px;
}
.offer__form-text span {
  font-weight: 600;
  color: #00b56a;
}
.offer__check {
  margin-top: 20px;
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.offer__check-input {
  width: 18px;
  height: 18px;
  min-width: 18px;
  min-height: 18px;
  border: 2px solid #27b76c;
}
.offer__check input[type=checkbox] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: 2px solid #27b76c;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.offer__check input[type=checkbox].error {
  border-color: #ff6767;
}
.offer__check label {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #333a48;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.offer__check input[type=checkbox]::after {
  content: url("../images/checkbox.svg");
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s linear;
}
.offer__check input[type=checkbox]:checked::after {
  opacity: 1;
  visibility: visible;
}
.offer__btn {
  margin-top: 30px;
  width: 350px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  color: #fcfbf9;
  background-color: #00b56a;
  transition: all 0.2s linear;
  border: 2px solid #00b56a;
}
@media (hover: hover) {
  .offer__btn:hover {
    color: #00b56a;
    background-color: #ffffff;
  }
}
@media (hover: none) {
  .offer__btn:active {
    color: #00b56a;
    background-color: #ffffff;
  }
}
.offer__inner {
  margin-top: 30px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .offer__wrapper {
    padding: 20px 0;
  }
  .offer__text {
    margin-top: 20px;
  }
  .offer__download {
    padding: 5px 10px;
  }
  .offer__inner {
    margin-top: 15px;
    flex-direction: column;
    row-gap: 30px;
  }
}
@media (max-width: 480px) {
  .offer__title {
    font-size: 32px;
  }
  .offer__form .item__input {
    width: 100%;
  }
  .offer__btn {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */