@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Light.woff'),
		url('../fonts/Montserrat-Light.woff2');
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.woff'),
		url('../fonts/Montserrat-Regular.woff2');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Medium.woff'),
		url('../fonts/Montserrat-Medium.woff2');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-SemiBold.woff'),
		url('../fonts/Montserrat-SemiBold.woff2');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.woff'),
		url('../fonts/Montserrat-Bold.woff2');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
