@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.woff'), url('../fonts/Gilroy-Regular.woff2');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Semibold.woff'),
		url('../fonts/Gilroy-Semibold.woff2');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Bold.woff'), url('../fonts/Gilroy-Bold.woff2');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: 'Mulish';
	src: url('../fonts/Mulish-Regular.woff'), url('../fonts/Mulish-Regular.woff2');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'Mulish';
	src: url('../fonts/Mulish-Medium.woff'), url('../fonts/Mulish-Medium.woff2');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: 'Mulish';
	src: url('../fonts/Mulish-SemiBold.woff'),
		url('../fonts/Mulish-SemiBold.woff2');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: 'Mulish';
	src: url('../fonts/Mulish-SemiBoldItalic.woff'),
		url('../fonts/Mulish-SemiBoldItalic.woff2');
	font-style: italic;
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: 'Mulish';
	src: url('../fonts/Mulish-Bold.woff'), url('../fonts/Mulish-Bold.woff2');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: 'Mulish';
	src: url('../fonts/Mulish-ExtraBold.woff'),
		url('../fonts/Mulish-ExtraBold.woff2');
	font-style: normal;
	font-weight: 800;
	font-display: swap;
}
