.aboutpage .about-us {
	padding: 0 0 50px;

	&__wrapper {
		display: flex;
		align-items: center;
		column-gap: 40px;
	}

	&__content {
		flex: 1 0 calc(50% - 40px);
	}

	&__title {
		font-size: 30px;
		font-weight: 700;
		line-height: 1.6;
		color: $title;
	}

	&__text {
		margin-top: 30px;
		font-size: 16px;
		line-height: 1.6;
		color: $text;
	}

	&__img {
		flex: 1 0 calc(50% - 40px);
	}
}

@media (max-width: 992px) {
	.aboutpage .about-us {
		padding: 0 0 25px;

		&__wrapper {
			align-items: flex-start;
			flex-direction: column-reverse;
			row-gap: 30px;
		}

		&__text {
			margin-top: 15px;
		}
	}
}

@media (max-width: 768px) {
	.aboutpage .about-us {
		&__title {
			font-size: 26px;
		}
	}
}
