.homepage .services {
	width: 100%;
	padding: 100px 0 50px;

	&__title {
		font-size: 30px;
		font-weight: 700;
		line-height: 1.6;
		color: $title;
		text-align: center;
	}

	&__items {
		margin-top: 46px;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 42px;
	}

	&__item {
		padding: 25px;
		display: flex;
		align-items: center;
		flex-direction: column;
		filter: drop-shadow(0px 2px 20px rgba(24, 168, 108, 0.18));
		background: #fff;

		&-title {
			margin-top: 10px;
			font-size: 16px;
			font-weight: 600;
			line-height: 1.6;
			color: #bbbaba;
			text-align: center;

			&.selected {
				color: $text;
			}
		}
	}
}

@media (max-width: 1350px) {
	.homepage .services {
		&__items {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

@media (max-width: 768px) {
	.homepage .services {
		padding: 50px 0;

		&__title {
			font-size: 26px;
		}

		&__items {
			margin-top: 25px;
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;
		}
	}
}

@media (max-width: 576px) {
	.homepage .services {
		&__items {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
