.islampage .intro {
	padding: 100px 0;
	background: url('../images/islam/intro_bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	&__wrapper {
		display: flex;
		align-items: center;
		column-gap: 30px;
	}

	&__title {
		max-width: 600px;
		font-size: 36px;
		font-weight: 700;
		line-height: 1.6;
		color: $primary;
	}

	&__text {
		max-width: 645px;
		margin-top: 36px;
		font-size: 16px;
		line-height: 1.6;
		color: $text;
	}
}

@media (max-width: 1024px) {
	.islampage .intro {
		padding: 50px 0;

		&__wrapper {
			flex-direction: column-reverse;
			align-items: flex-start;
			row-gap: 20px;
		}

		&__img {
			margin-left: auto;
		}
	}
}

@media (max-width: 768px) {
	.islampage .intro {
		&__title {
			font-size: 30px;
		}

		&__text {
			margin-top: 20px;
		}
	}
}
