.organization {
	padding: 0 0 100px;

	&__wrapper {
		display: grid;
		grid-template-columns: 520px calc(100% - 560px);
		gap: 40px;
	}

	&__title {
		font-size: 30px;
		font-weight: 700;
		line-height: 1.6;
		color: $title;
	}

	&__content {
		&-item {
			margin-top: 46px;
			display: flex;
			align-items: center;
		}
	}

	&__logo {
		width: 200px;
		height: 150px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $white;
		filter: drop-shadow(0px 2px 26px rgba(24, 168, 108, 0.18));
	}

	&__license {
		margin-left: 30px;
		font-size: 16px;
		color: $primary;
		text-decoration: underline !important;
	}

	&__descr {
		margin-top: 30px;
		font-size: 16px;
		line-height: 1.6;
		color: $text;
	}

	&__link {
		margin-top: 30px;
		width: 100%;
		max-width: 337px;
		height: 54px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 16px;
		font-weight: 700;
		color: #fcfbf9;
		background-color: $primary;
		transition: all 0.2s linear;
		border: 2px solid $primary;

		@media (hover: hover) {
			&:hover {
				color: $primary;
				background-color: $white;
			}
		}

		@media (hover: none) {
			&:active {
				color: $primary;
				background-color: $white;
			}
		}
	}

	.table {
		padding: 0 40px;
		border: 1px solid rgba(#000, 0.2);

		&__body {
			display: flex;
			align-items: center;
			column-gap: 20px;

			&:not(:last-child) {
				border-bottom: 1px solid rgba(#929292, 0.5);
			}

			&-item {
				flex: 1 0 calc(50% - 20px);
				padding: 15px 0;
				font-size: 16px;
				line-height: 1.43;
				color: $text;
			}
		}
	}

	&__text {
		margin-top: 20px;

		p {
			font-size: 16px;
			line-height: 1.6;
			color: $text;
		}

		strong {
			font-weight: 600;
		}
	}
}

@media (max-width: 1170px) {
	.organization {
		&__wrapper {
			display: flex;
			flex-direction: column;
		}

		&__link {
			margin: 30px auto 0;
		}
	}
}

@media (max-width: 768px) {
	.organization {
		&__title {
			font-size: 26px;
		}

		.table {
			padding: 0 25px;
		}
	}
}
