.wizard {
	padding-top: 10px;
	width: 100%;
	min-height: calc(100vh - 82px);
	font-family: 'Mulish', sans-serif;
	background-color: #71837b;

	.container {
		max-width: 1230px;
	}

	&-header {
		background: #71837b;

		.container {
			max-width: 1230px;
		}

		&__inner {
			padding: 20px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			background: #fff;
		}

		&__logo {
			img {
				max-width: 200px;
				max-height: 42px;
			}
		}

		&__cabinet {
			font-family: 'Mulish', sans-serif;
			font-size: 18px;
			font-weight: 600;
			color: #39473f;
		}
	}

	&__top {
		padding: 20px;
		margin-bottom: 10px;
		background: #fff;

		&-content {
			position: relative;
			padding-bottom: 40px;

			&::before {
				content: '';
				width: 100%;
				height: 1px;
				background-color: #dfe2e1;
				position: absolute;
				left: 0;
				bottom: 18px;
			}
		}

		&-title {
			font-size: 48px;
			font-weight: 700;
			color: #39473f;
		}

		&-info {
			margin-top: 21px;
			display: none;

			&--active {
				display: block;
			}

			&-top {
				font-size: 20px;
				font-weight: 600;
				font-style: italic;
				color: #39473f;
			}

			&-bot {
				margin-top: 5px;
				font-size: 20px;
				font-weight: 600;
				font-style: italic;
				color: #20985a;
			}
		}

		.steps {
			display: flex;
			align-items: center;
			justify-content: space-between;
			column-gap: 6px;

			&__icon {
				width: 24px;
				height: 24px;
				min-width: 24px;
				min-height: 24px;
				fill: transparent;
				stroke: #8fa39a;

				path {
					width: 13px;
					height: 5px;
				}

				&--active {
					stroke: #27b76c;
				}
			}

			&__item {
				width: 100%;
				height: 40px;
				display: flex;
				align-items: center;
				justify-content: center;
				column-gap: 6px;
				border: 1px solid #dfe2e1;
				border-radius: 4px;
				background-color: #fff;
				position: relative;

				&--active {
					box-shadow: 0px 7px 13.2px rgba(43, 43, 43, 0.12);
					border: 1px solid #27b76c;
					background-color: #f1fffa;

					.steps__item {
						&-icon {
							display: block;
						}

						&-text {
							font-weight: 700;
							color: #27b76c;
						}
					}

					.steps__item-icon {
						display: block;
					}
				}

				&-icon {
					display: none;
					width: 18px;
					height: 18px;
				}

				&-text {
					font-size: 12px;
					font-weight: 500;
					line-height: 1.5;
					color: #8fa39a;
				}
			}
		}
	}

	&__step {
		display: none;

		&--active {
			display: block;
		}
	}

	&__bot {
		margin-top: 10px;
		width: 100%;
		padding: 20px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		column-gap: 15px;
		background-color: #fff;
	}

	&__prev {
		padding: 8px 24px 8px 8px;
		display: flex;
		align-items: center;
		column-gap: 24px;
		font-size: 18px;
		font-weight: 800;
		color: #fff;
		border-radius: 4px;
		background-color: #27b76c;
		transition: all 0.2s linear;

		@media (hover: hover) {
			&:hover {
				box-shadow: 0px 9px 13.8px rgba(#27b76c, 0.47);
			}
		}

		@media (hover: none) {
			&:active {
				box-shadow: 0px 0px 17.3px rgba(#27b76c, 0.62);
			}
		}

		&.hide {
			display: none;
		}

		img {
			transform: rotate(180deg);
		}
	}

	&__next {
		padding: 8px 8px 8px 24px;
		display: flex;
		align-items: center;
		column-gap: 24px;
		font-size: 18px;
		font-weight: 800;
		color: #fff;
		border-radius: 4px;
		background-color: #27b76c;
		transition: all 0.2s linear;

		@media (hover: hover) {
			&:hover {
				box-shadow: 0px 9px 13.8px rgba(#27b76c, 0.47);
			}
		}

		@media (hover: none) {
			&:active {
				box-shadow: 0px 0px 17.3px rgba(#27b76c, 0.62);
			}
		}

		&.hide {
			display: none;
		}
	}

	&__sbmt {
		padding: 8px 8px 8px 24px;
		display: flex;
		align-items: center;
		column-gap: 24px;
		font-size: 18px;
		font-weight: 800;
		color: #fff;
		border-radius: 4px;
		background-color: #27b76c;
		transition: all 0.2s linear;

		@media (hover: hover) {
			&:hover {
				box-shadow: 0px 9px 13.8px rgba(#27b76c, 0.47);
			}
		}

		@media (hover: none) {
			&:active {
				box-shadow: 0px 0px 17.3px rgba(#27b76c, 0.62);
			}
		}

		&.hide {
			display: none;
		}
	}

	&__sum,
	&__term {
		padding: 20px;
		background: #fff;

		.top {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;

			&__title {
				font-size: 18px;
				font-weight: 600;
				color: #39473f;
			}

			&__input {
				width: 250px;
				padding: 12px 8px 12px 14px;
				position: relative;
				border: 1px solid #39473f;
				border-radius: 4px;
				user-select: none;

				&.error {
					border: 1px solid red;
				}

				input {
					width: 150px;
					font-size: 16px;
					color: #39473f;
				}

				&-btns {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: 13.5px;
					display: flex;
					flex-direction: column;
					row-gap: 8.5px;
				}

				&-increment {
					display: block;
					width: 15px;
					height: 8px;
					fill: transparent;
					stroke: #636363;
					transition: all 0.2s linear;
					cursor: pointer;

					@media (hover: hover) {
						&:hover {
							stroke: #27b76c;
						}
					}

					@media (hover: none) {
						&:active {
							stroke: #27b76c;
						}
					}
				}

				&-decrement {
					display: block;
					width: 15px;
					height: 8px;
					fill: transparent;
					stroke: #636363;
					transition: all 0.2s linear;
					cursor: pointer;

					@media (hover: hover) {
						&:hover {
							stroke: #27b76c;
						}
					}

					@media (hover: none) {
						&:active {
							stroke: #27b76c;
						}
					}
				}
			}
		}

		.range {
			margin-top: 20px;

			&__input {
				position: relative;

				input {
					-webkit-appearance: none;
					appearance: none;
					width: 100%;
					cursor: pointer;
					outline: none;
					border-radius: 2px;
					height: 6px;
					background: #dfe2e1;
					position: relative;
					z-index: 2;

					&::-webkit-slider-thumb {
						-webkit-appearance: none;
						appearance: none;
						height: 24px;
						width: 24px;
						background-color: #fff;
						border-radius: 50%;
						border: 6px solid $primary;
						transition: 0.2s ease-in-out;
						position: relative;
					}

					&::-moz-range-thumb {
						height: 24px;
						width: 24px;
						background-color: $primary;
						border-radius: 50%;
						border: none;
						transition: 0.2s ease-in-out;
					}
				}
			}

			&__stages {
				height: 18px;
				margin-top: 14px;
				display: flex;
				justify-content: space-between;
				position: relative;

				&-item {
					text-align: center;
					font-size: 14px;
					color: #8fa39a;
					position: absolute;

					&::before {
						content: '';
						width: 1px;
						height: 12px;
						background: #dfe2e1;
						position: absolute;
						top: -18px;
						left: 50%;
						transform: translateX(-50%);
					}

					&:nth-child(1) {
						&::before {
							left: 0;
							transform: translateX(0);
						}
					}

					&:nth-child(2) {
						left: 14.65%;
					}

					&:nth-child(3) {
						left: 35%;
					}

					&:nth-child(4) {
						left: 55.2%;
					}

					&:nth-child(5) {
						left: 75.1%;
					}

					&:nth-child(6) {
						right: 0;

						&::before {
							left: auto;
							right: 0;
							transform: translateX(0);
						}
					}
				}
			}
		}
	}

	&__term {
		.range {
			&__stages {
				margin-top: 14px;
				display: flex;
				justify-content: space-between;
				position: relative;

				&-item {
					text-align: center;
					font-size: 14px;
					color: #8fa39a;
					position: absolute;

					&::before {
						content: '';
						width: 1px;
						height: 12px;
						background: #dfe2e1;
						position: absolute;
						top: -18px;
						left: 50%;
						transform: translateX(-50%);
					}

					&:nth-child(1) {
						&::before {
							left: 0;
							transform: translateX(0);
						}
					}

					&:nth-child(2) {
						left: 14.7%;
					}

					&:nth-child(3) {
						left: 28.65%;
					}

					&:nth-child(4) {
						left: 42.35%;
					}

					&:nth-child(5) {
						left: 56.36%;
					}

					&:nth-child(6) {
						left: 70.35%;
						right: auto;

						&::before {
							left: 50%;
							right: 0;
							transform: translateX(0);
						}
					}

					&:nth-child(7) {
						left: 84.44%;
					}

					&:nth-child(8) {
						right: 0;

						&::before {
							left: auto;
							right: 0;
							transform: translateX(0);
						}
					}
				}
			}
		}
	}

	&__story {
		padding: 20px;
		background: #fff;

		&-title {
			font-size: 18px;
			font-weight: 600;
			color: #39473f;
		}

		.radio {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 18px;

			&__item {
				&-icon {
					max-width: 40px;
				}

				&-title {
					max-width: 187px;
					margin-top: 10px;
					font-size: 16px;
					color: #39473f;
					text-align: center;
				}

				&-round {
					display: block;
					width: 16px;
					height: 16px;
					margin: 20px auto 0;
					border: 1.33px solid #636363;
					border-radius: 50%;
					background: #fff;
					position: relative;
					box-sizing: content-box;
					transition: all 0.2s linear;

					&::before {
						content: '';
						width: 9.6px;
						height: 9.6px;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						border-radius: 50%;
						background: transparent;
					}
				}

				input {
					display: none;
				}

				label {
					height: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;
					padding: 15px;
					cursor: pointer;
					border-radius: 4px;
					border: 1px solid #c8d9d2;
					box-shadow: 0px 4px 13.4px rgba(39, 183, 108, 0.26);
					transition: all 0.2s linear;

					@media (hover: hover) {
						&:hover {
							border: 1px solid #27b76c;

							.radio__item-round {
								border: 1.33px solid #27b76c;
							}
						}
					}

					@media (hover: none) {
						&:active {
							border: 1px solid #27b76c;

							.radio__item-round {
								border: 1.33px solid #27b76c;
							}
						}
					}
				}

				input:checked + label {
					border: 1px solid #27b76c;
					box-shadow: 0px 4px 13.4px rgba(39, 183, 108, 0.26);
				}

				input:checked + label .radio__item-round {
					border: 1.33px solid #27b76c;
				}

				input:checked + label .radio__item-round::before {
					background: #27b76c;
				}
			}
		}
	}

	&__deposit {
		padding: 20px;
		background: #fff;

		&-title {
			font-size: 18px;
			font-weight: 600;
			color: #39473f;
		}

		.radio {
			margin-top: 18px;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 18px;

			&__item {
				&-icon {
					width: 100%;
					min-height: 90px;
					display: flex;
					align-items: center;
					justify-content: center;
				}
				&-title {
					margin-top: 10px;
					font-size: 16px;
					color: #39473f;
					text-align: center;
				}

				&-round {
					display: block;
					width: 16px;
					height: 16px;
					margin: 12px auto 0;
					border: 1.33px solid #636363;
					border-radius: 50%;
					background: #fff;
					position: relative;
					box-sizing: content-box;

					&::before {
						content: '';
						width: 9.6px;
						height: 9.6px;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						border-radius: 50%;
						background: transparent;
					}
				}

				input {
					display: none;
				}

				label {
					height: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;
					padding: 10px 9px 18px;
					cursor: pointer;
					border-radius: 4px;
					border: 1px solid #c8d9d2;
					box-shadow: 0px 4px 13.4px rgba(39, 183, 108, 0.26);
					transition: all 0.2s linear;

					@media (hover: hover) {
						&:hover {
							border: 1px solid #27b76c;

							.radio__item-round {
								border: 1.33px solid #27b76c;
							}
						}
					}

					@media (hover: none) {
						&:active {
							border: 1px solid #27b76c;

							.radio__item-round {
								border: 1.33px solid #27b76c;
							}
						}
					}
				}

				input:checked + label {
					border: 1px solid #27b76c;
				}

				input:checked + label .radio__item-round {
					border: 1.33px solid #27b76c;
					box-shadow: 0px 4px 13.4px rgba(39, 183, 108, 0.26);
				}

				input:checked + label .radio__item-round::before {
					background: #27b76c;
				}
			}
		}
	}

	&__form {
		padding: 24px;
		background: #fff;

		&-title {
			margin-top: 10px;
			max-width: 461px;
			font-size: 16px;
			font-weight: 600;
			color: #39473f;
		}

		.pinfl {
			max-width: 567px;
			margin-top: 10px;

			&.entered {
				.pinfl__label {
					color: #39473f;
				}

				.pinfl__input {
					input {
						border-color: #27b76c;
					}

					&::after {
						content: url('../images/wizard/entered-check.svg');
						width: 18px;
						height: 18px;
						position: absolute;
						right: 10px;
						bottom: 11px;
						z-index: 1;
						pointer-events: none;
					}
				}
			}

			&.error {
				.pinfl__label {
					color: #ff6767;
				}

				.pinfl__input {
					input {
						border-color: #ff6767;
					}

					&::after {
						content: url('../images/wizard/error-x.svg');
						width: 18px;
						height: 18px;
						position: absolute;
						right: 10px;
						bottom: 11px;
						z-index: 1;
						pointer-events: none;
					}
				}

				.pinfl__error {
					display: block;
				}
			}

			&.info {
				.pinfl__label {
					color: #ff6767;
				}

				.pinfl__input {
					input {
						border-color: #ff6767;
					}

					&::after {
						content: url('../images/wizard/error-x.svg');
						width: 18px;
						height: 18px;
						position: absolute;
						right: 10px;
						bottom: 11px;
						z-index: 1;
						pointer-events: none;
					}
				}

				.pinfl__info {
					display: block;
				}
			}

			&__label {
				display: flex;
				align-items: center;
				column-gap: 10px;
				font-size: 12px;
				font-weight: 500;
				line-height: 1.5;
				color: #636363;

				svg {
					width: 18px;
					height: 18px;
					fill: $primary;
					cursor: pointer;
				}
			}

			&__input {
				margin-top: 6px;
				width: 100%;
				max-width: 370px;
				height: 40px;
				display: flex;
				align-items: center;
				position: relative;

				input {
					width: 100%;
					height: 100%;
					padding: 0 14px;
					font-size: 16px;
					color: #39473f;
					border: 1px solid #c8d9d2;
					border-radius: 4px;

					&:focus-visible {
						border-color: #8fa39a;
					}
				}
			}

			&__error,
			&__info {
				margin-top: 3px;
				font-size: 12px;
				color: #ff6767;
				display: none;
			}
		}

		&-items {
			max-width: 370px;
		}

		.item {
			position: relative;

			&:not(:first-child) {
				margin-top: 10px;
			}

			&::before {
				content: url('../images/wizard/error-x.svg');
				width: 18px;
				height: 18px;
				position: absolute;
				right: 10px;
				bottom: 11px;
				z-index: 1;
				opacity: 0;
				pointer-events: none;
			}

			&::after {
				content: url('../images/wizard/entered-check.svg');
				width: 18px;
				height: 18px;
				position: absolute;
				right: 10px;
				bottom: 11px;
				z-index: 1;
				opacity: 0;
				pointer-events: none;
			}

			&.error {
				&::before {
					opacity: 1;
				}
				.item__label {
					color: #ff6767;
				}
				.item__input {
					border-color: #ff6767;
				}
				.select {
					border: 1px solid #ff6767;
					&:focus-visible {
						border: 1px solid #ff6767;
					}
				}
			}

			&.entered {
				&::after {
					opacity: 1;
				}

				.item__input {
					border-color: #27b76c;
				}

				.select {
					border-color: #27b76c;
				}
			}

			&__label {
				font-size: 12px;
				font-weight: 500;
				line-height: 1.5;
				color: #636363;
			}

			&__input {
				margin-top: 6px;
				width: 100%;
				height: 40px;
				padding: 0 35px 0 14px;
				font-size: 16px;
				color: #39473f;
				border: 1px solid #c8d9d2;
				border-radius: 4px;

				&:focus-visible {
					border-color: #8fa39a;
				}
			}

			.input__before {
				position: absolute;
				left: 14px;
				bottom: 10px;
				font-size: 16px;
				color: #39473f;
			}

			.input__tel {
				padding-left: 57px;
			}
		}

		.check {
			margin-top: 10px;
			display: flex;
			align-items: center;
			column-gap: 8px;

			&__input {
				width: 18px;
				height: 18px;
				min-width: 18px;
				min-height: 18px;
				border: 2px solid #27b76c;
			}

			input[type='checkbox'] {
				appearance: none;
				-webkit-appearance: none;
				width: 18px;
				height: 18px;
				border-radius: 2px;
				border: 2px solid #27b76c;
				cursor: pointer;
				position: relative;
				overflow: hidden;

				&.error {
					border-color: #ff6767;
				}
			}

			label {
				font-size: 14px;
				font-weight: 400;
				line-height: 1.5;
				color: #333a48;
				user-select: none;
			}

			input[type='checkbox']::after {
				content: url('../images/wizard/checkbox.svg');
				width: 18px;
				height: 18px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				opacity: 0;
				visibility: hidden;
				transition: all 0.1s linear;
			}

			input[type='checkbox']:checked::after {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__thnks {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		opacity: 0;
		visibility: hidden;
		transition: all 0.2s linear;
		pointer-events: none;
		overflow-y: auto;

		&.wizard__thnks--active {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
		}

		&-bg {
			width: 100%;
			height: 100%;
			padding: 20px 15px;
			overflow-y: auto;

			background: rgba(255, 255, 255, 0.6);
			backdrop-filter: blur(6px);
		}

		&-body {
			margin: 0 auto;
			width: 550px;
			padding: 133px 50px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: $white;
			box-shadow: 0px 4px 36px 0px rgba(0, 181, 106, 0.3);
		}

		&-close {
			position: absolute;
			top: 35px;
			right: 35px;
		}

		&-title {
			font-size: 30px;
			font-weight: 700;
			line-height: 1.6;
			color: $primary;
			text-align: center;
		}

		&-subtitle {
			margin-top: 15px;
			font-size: 16px;
			line-height: 1.6;
			color: $text;
			text-align: center;
		}
	}
}

@media (max-width: 1024px) {
	.wizard {
		&__top {
			&-title {
				font-size: 38px;
				text-align: center;
			}

			&-info {
				&-top,
				&-bot {
					font-size: 18px;
				}
			}
		}

		&__sum,
		&__term {
			.top {
				&-title {
					font-size: 16px;
				}
			}

			.range {
				margin-top: 30px;

				&__stages-item {
					&:nth-child(2) {
						left: 14.1%;
					}

					&:nth-child(3) {
						left: 34.3%;
					}

					&:nth-child(4) {
						left: 54.4%;
					}

					&:nth-child(5) {
						left: 74.2%;
					}
				}
			}
		}

		&__term .range {
			&__stages {
				&-item {
					&:nth-child(2) {
						left: 14.9%;
					}

					&:nth-child(3) {
						left: 28.65%;
					}

					&:nth-child(4) {
						left: 42.1%;
					}

					&:nth-child(5) {
						left: 56.2%;
					}

					&:nth-child(6) {
						left: 70%;
						right: auto;

						&::before {
							left: 50%;
							right: 0;
							transform: translateX(0);
						}
					}

					&:nth-child(7) {
						left: 84%;
					}
				}
			}
		}

		&__deposit {
			.radio {
				&__item {
					&-icon {
						min-height: 70px;

						img {
							max-width: 40px;
						}
					}
				}
			}
		}

		&__thnks-body {
			padding: 70px 50px;
		}
	}
}

@media (max-width: 900px) {
	.wizard {
		&__sum .range {
			margin-top: 30px;

			&__stages-item {
				&:nth-child(2) {
					left: 13.76%;
				}

				&:nth-child(3) {
					left: 33.8%;
				}

				&:nth-child(4) {
					left: 54%;
				}

				&:nth-child(5) {
					left: 73.5%;
				}
			}
		}

		&__term .range {
			&__stages-item {
				&:nth-child(2) {
					left: 14.8%;
				}

				&:nth-child(5) {
					left: 55.9%;
				}

				&:nth-child(6) {
					left: 69.8%;
				}

				&:nth-child(7) {
					left: 83.8%;
				}
			}
		}
	}
}

@media (max-width: 800px) {
	.wizard {
		&__sum .range {
			margin-top: 30px;

			&__stages-item {
				&:nth-child(2) {
					left: 13.1%;
				}

				&:nth-child(3) {
					left: 33.2%;
				}

				&:nth-child(4) {
					left: 53.2%;
				}

				&:nth-child(5) {
					left: 72.8%;
				}
			}
		}

		&__term .range {
			&__stages-item {
				&:nth-child(2) {
					left: 15%;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.wizard {
		min-height: calc(100vh - 51.59px);

		&-header {
			&__inner {
				padding: 10px;
			}

			&__logo {
				img {
					max-width: 150px;
				}
			}

			&__cabinet {
				font-size: 16px;
			}
		}

		&__top {
			padding: 10px;

			&-content {
				padding-bottom: 20px;

				&::before {
					bottom: 10px;
				}
			}

			&-title {
				font-size: 24px;
			}

			&-info {
				margin-top: 4px;

				&-top,
				&-bot {
					font-size: 16px;
				}
			}
		}

		&__bot {
			padding: 10px;
			justify-content: center;
		}

		&__sum,
		&__term {
			padding: 10px;
			.top {
				&__title {
					font-size: 16px;
				}

				&__input {
					padding: 9px 10px;
				}
			}

			.range {
				margin-top: 18px;

				&__stages {
					margin-top: 12px;

					&-item {
						span {
							display: none;
						}

						&:first-child span,
						&:last-child span {
							display: block;
						}

						&:nth-child(2) {
							left: 18.4%;
						}

						&:nth-child(3) {
							left: 38.4%;
						}

						&:nth-child(4) {
							left: 58.4%;
						}

						&:nth-child(5) {
							left: 78.3%;
						}
					}
				}
			}
		}

		&__term .range__stages-item {
			span {
				display: block;
			}

			&:nth-child(2) {
				left: 14.85%;
			}

			&:nth-child(3) {
				left: 28.8%;
			}

			&:nth-child(4) {
				span {
					display: block;
				}
				left: 41.9%;
			}
			&:nth-child(5) {
				span {
					display: block;
				}
				left: 55.7%;
			}

			&:nth-child(6) {
				left: 69.5%;
			}

			&:nth-child(7) {
				left: 83.3%;
			}
		}

		&__story {
			padding: 10px;

			&-title {
				font-size: 16px;
			}

			.radio {
				display: flex;
				flex-wrap: wrap;
				column-gap: 10px;
				row-gap: 10px;

				&__item {
					flex: 1 0 calc(50% - 10px);

					&-icon {
						max-width: 32px;
						max-height: 32px;
						display: none;
					}

					&-title {
						margin: 0 0 10px;
					}

					label {
						height: 100%;
						padding: 10px 10px 14px;
					}

					&-round {
						margin-top: auto;
					}
				}
			}
		}

		&__prev {
			padding: 8px;
			font-size: 16px;
			column-gap: 15px;

			img {
				max-width: 25px;
			}
		}

		&__next,
		&__sbmt {
			padding: 8px;
			font-size: 16px;
			column-gap: 15px;

			img {
				max-width: 25px;
			}
		}

		&__deposit {
			padding: 10px;

			&-title {
				font-size: 16px;
			}

			.radio {
				&__item {
					&-icon {
						min-height: 66px;

						img {
							max-width: 40px;
						}
					}
				}
			}
		}

		&__form {
			padding: 10px;

			&-title {
				font-size: 16px;
			}
		}

		&__thnks-body {
			max-width: 345px;
			padding: 60px 15px;

			@media (max-width: 375px) {
				width: 100%;
			}
		}

		&__thnks-close {
			top: 20px;
			right: 20px;
		}

		&__thnks-title {
			font-size: 24px;
		}

		&__thnks-subtitle {
			margin-top: 10px;
		}
	}
}

@media (max-width: 576px) {
	.wizard {
		.container {
			padding: 0 10px;
		}

		&-header {
			.container {
				padding: 0 10px;
			}
		}

		&__top {
			&-title {
				font-size: 22px;
			}
			&-subtitle {
				font-size: 15px;
			}

			&-info {
				&-top,
				&-bot {
					font-size: 15px;
				}
			}

			.steps {
				column-gap: 0;

				&__item {
					height: 28px;
					column-gap: 3px;

					&-icon {
						width: 12px;
						height: 12px;
					}
				}

				&__icon {
					width: 18px;
					height: 18px;
					min-width: 18px;
					min-height: 18px;
				}
			}
		}

		&__sum,
		&__term {
			margin-top: 8px;
			.top {
				flex-direction: column;
				row-gap: 12px;
			}
		}

		&__term .range__stages-item {
			span {
				display: none !important;
			}

			&:first-child,
			&:last-child {
				span {
					display: block !important;
				}
			}

			&:nth-child(2) {
				left: 16%;
			}

			&:nth-child(3) {
				left: 29.5%;
			}

			&:nth-child(4) {
				left: 43.4%;
			}

			&:nth-child(5) {
				left: 56.7%;
			}

			&:nth-child(6) {
				left: 70.5%;
			}

			&:nth-child(7) {
				left: 84.2%;
			}
		}

		&__story {
			margin-top: 8px;

			.radio {
				&__item {
					&-title {
						font-size: 14px;
					}

					label {
						height: 100%;
						padding: 10px 10px 16px;
					}

					&-round {
						margin-top: auto;
					}
				}
			}
		}

		&__bot {
			padding: 10px;
		}

		&__prev,
		&__next,
		&__sbmt {
			font-size: 14px;
		}

		&__deposit {
			margin-top: 8px;

			.radio {
				grid-template-columns: repeat(2, 1fr);
				gap: 10px;

				&__item {
					label {
						padding: 10px 10px 16px;
					}

					&-icon {
						min-height: 30px;

						img {
							max-width: 27px;
						}
					}

					&-title {
						font-size: 14px;
						margin: 10px 0;
					}

					&-round {
						margin: auto auto 0;
					}
				}
			}
		}

		&__form {
			padding: 10px;

			&-title {
				margin-top: 8px;
				font-size: 14px;
			}

			&-items {
				max-width: 100%;
			}

			.item {
				&:not(:first-child) {
					margin-top: 8px;
				}

				&::before,
				&::after {
					bottom: 8.5px;
				}

				&__input {
					height: 35px;
				}

				.input__before {
					bottom: 7.5px;
				}

				.select {
					height: 35px;
				}
			}

			.pinfl {
				margin-top: 8px;

				&__input {
					width: 100%;
					height: 35px;
					max-width: 100%;

					&::after {
						bottom: 8.5px !important;
					}
				}
			}

			.check {
				align-items: start;
				label {
					font-size: 12px;
				}
			}
		}
	}
}
